# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\框架学习\spring-security-demo\spring-security-bankend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
